body{
    background-color: rgb(194, 17, 17);
    margin-left: 10%;
    margin-right: 10%;
    border: 4px double darkred;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    }
h1{color: maroon;}
h2{color: white; }
img{color: yellow; border: 4px solid rgb(0, 0, 0); transform: translateX(28%); }
h2.borda1{background: darkred;
         color: #FFF;
         padding-left: 10px;
         padding-right: 10px;
         margin-bottom: 10px;
         font-size: 18px;
         width: 95px;
         height: 24px;
         text-align: middle;
         transform: rotate(30deg);
         margin-top: -45px;
         margin-left: 50px;
         }
h2.borda2{background: darkred;
         color: #FFF;
         padding-left: 10px;
         padding-right: 10px;
         margin-bottom: 10px;
         font-size: 18px;
         width: 95px;
         height: 24px;
         text-align: middle;
         transform: rotate(30deg);
         margin-top: -31px;
         margin-left: 270px;
         }
h2.borda3{background: darkred;
         color: #703636;
         padding-left: 10px;
         padding-right: 10px;
         margin-bottom: 10px;
         font-size: 18px;
         width: 95px;
         height: 24px;
         text-align: middle;
         transform: rotate(30deg);
         margin-top: -31px;
         margin-left: 490px;
         }
h2.borda4{background: darkred;
         color: #FFF;
         padding-left: 10px;
         padding-right: 10px;
         margin-bottom: 10px;
         font-size: 18px;
         width: 95px;
         height: 24px;
         text-align: middle;
         transform: rotate(30deg);
         margin-top: -31px;
         margin-left: 713px;
         }
h2.borda5{background: darkred;
         color: #f89f9f;
         padding-left: 10px;
         padding-right: 10px;
         margin-bottom: 10px;
         font-size: 18px;
         width: 95px;
         height: 24px;
         text-align: middle;
         transform: rotate(30deg);
         margin-top: -31px;
         margin-left: 913px;
         }
.rodapé {width: 1040px; height: 70px; margin-top: 36px; font-size: 32px;
        text-align: center; color:deeppink;text-shadow: 2px 2px 2px lavender
        }